/* general */ 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html{
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  background-color: #eeeeee ;
}

/*  header */
.heading-container{
  background-color: #333333;
  padding: 3px;
  position: sticky;
  z-index: 995;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0 0 17px 17px;
}
.heading-style{
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-size: calc(16px + 2vw);
  color: #ffffff;
}

/* side navigation bar */
.container_{
  display: grid;
  grid-template-columns: 225px 1fr;
}
.sidebar_style{
  padding: 0;
}
.menu_ {
  width: 67px;
  height:80vh;
  background-color: #2d2d2d;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  overflow: hidden;
  transition: 0.5s;
  position: fixed;
  z-index: 999;
  margin: 1%;
 
}
@media (max-width: 576px){
  .menu_{
    width:55px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.15);
  }
}
.menu_.active {
  width: 230px;
}
.menu_.active span {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 576px){
  .menu_.active{
    width: 190px;
  }
}
.all-menu-items{
  position: relative;
  width: 100%;
}
.all-menu-items a{
  text-decoration: none;
}
.menu-item {
  position: relative;
  list-style: none;
  height: 75px;
  width: 100%;
  padding-left: 23px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 576px){
  .menu-item{
    height: 80px;
    padding-left: 17px;
  }
}
.menu-item:hover {
  background-color: #605f5f;
}
.toggle-icon{
  padding-left: 12px; 
}
@media(max-width: 576px){
  .toggle-icon{
  padding-left: 6px;
  }
}
.toggle_ {
  background-color: #fafcfc;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  width: 44px;
  text-align: center;
}
.menu-option {
  margin-left: 20px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  font-weight: 600;
  color: white;
}
@media (max-width: 576px){
  .menu-option{
    margin-left: 15px;
    font-size: 0.8rem;
  }
}
/* content between header and footer */
.main{
  width: 100%;
  height: 100%;
  align-self: flex-start;
  padding: 2% 5% 2% 130px;
}
@media (max-width: 576px){
  .main{
    padding: 2% 5% 2% 70px;
  }
}

/* home page */
.hello-user{
  font-family: 'Kanit', sans-serif;
  font-size: 2.75rem;
  margin-bottom: 1.2rem;
  color: #373838;
}
@media (max-width: 576px){
  .hello-user{
    font-size: 2em;
    margin: 0.8rem 0;
    text-align: center;
  }  
}
.balance-card{
  border-radius: 15px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 25px;
  width: 100%;
  text-align: center;
  color: rgb(64, 198, 64);
}
.income-card{
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 25px;
  background: #fff;
  width: 100%;
  text-align: center;
  color: rgb(255, 85, 114);
}
.card-amount-text{
  font-size: 1.8rem;
  font-weight: 600;
}
@media (max-width: 576px){
  .card-amount-text{
    font-size: 1.3rem;
  }
}
.card-heading-text{
  font-weight: 600;
}
@media (max-width: 576px){
  .card-heading-text{
    font-size: 0.8rem;
    margin-bottom: 5px;
  }
}
.transaction-font{
  font-family: 'Kanit', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
@media (max-width: 576px){
  .transaction-font{
    font-size: 1.5rem;
  }  
}
.transaction-card{
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 25px;
  background:  #fdfdfd;
  width: 100%; 
}
.transaction-card-heading{
  font-size: 1.5rem;
  font-weight: 700;  
}
@media (max-width: 576px){
  .transaction-card-heading{
    font-size: 1rem;
  }  
}
.transaction-card-category{
  color: rgb(121, 121, 121); 
  font-size: 1rem;
}
@media (max-width: 576px){
  .transaction-card-category{
    font-size: 0.9rem;
  }  
}
.transaction-card-amount{
  font-size: 1.5rem;
  font-weight: 700;  
  text-align: end;
}
@media (max-width: 576px){
  .transaction-card-amount{
    font-size: 1rem;
  }  
}
.transaction-card-date{
  color: rgb(121, 121, 121);  
  font-size: 1rem;
}
@media (max-width: 576px){
  .transaction-card-date{
    font-size: 0.75rem;
  }  
}
.expense-icon{
  color: white;
  margin: auto 20px auto 0 ;
  background-color: rgb(255, 0, 0);
  padding: 7px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.income-icon{
  color: white;
  margin: auto 20px auto 0 ;
  background-color: rgb(5, 203, 61);
  padding: 7px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.button-add{
  position: fixed;
  right: 6%;
  bottom: 10px;
  z-index: 900;
  border-radius: 54%;
  padding: 1.1rem;
  /* background-image: linear-gradient(to right top, #48dcfe, #00c2f7, #00a6ed, #008ae0, #006dcd); */
  background: linear-gradient(
    45deg,
    rgb(26, 26, 26) 0%,
    rgb(84, 84, 84) 100%
  );
  border-width: 0px;
}
.add-button-icon{
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}
.modal-heading-style{
  font-family: 'Kanit', sans-serif;
  font-size: 1.6rem;
}
.modal-style-edit{
  border-radius: 14px;
  background-color: #eeeeee ;
}
.modal-add-button{
  background-image: linear-gradient(to right top, #48dcfe, #00c2f7, #00a6ed, #008ae0, #006dcd);
  font-family: 'Kanit', sans-serif;
  padding: 8px;
  border-radius: 5px;
  border-width: 0px;
  width: 110px;
  color:white;
}
.modal-cancel-button{
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 8%, rgba(251,78,78,1) 29%, rgba(232,11,11,1) 53%, rgba(245,65,65,1) 71%, rgba(250,16,16,1) 91%);
  font-family: 'Kanit', sans-serif;
  padding: 8px;
  border-radius: 5px;
  border-width: 0px;
  width: 100px;
  color:white;
}
.input-modal {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #c5c5c5;
  transition: 0.3s;
  width: 100%;
  align-items: center;
  margin-bottom: 8px;
}
.input-modal:focus {
  outline-color: #d3d3d3;
  background: #bebebe;
  box-shadow: inset 20px 20px 60px #c5c5c5,
     inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}
.label-head{
  color:#000000;
  z-index: 1;
  position: relative;
  font-weight: 700;
  margin-left: 7px;
}
/* =================================================IMPORTANT==================================================== */
/* a{
  display: flex;
  width: auto;
  align-items:center;
} */
/* ============================================================================================================== */
.buttons-position{
    position: absolute;
    bottom: 0;
    right: 0;
}
@media(max-width:800px){
  .buttons-position{
    position: initial;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
.divider{
  margin: 1rem;
}
@media (max-width: 576px) {
  .divider{
    margin: 0;
  }
}
#current-month-transactions, #previous-transactions{
  padding: 0;
}
.modal-add-category-btn{
  background-image: linear-gradient(to right top, #48dcfe, #00c2f7, #00a6ed, #008ae0, #006dcd);
  font-family: 'Kanit', sans-serif;
  padding: 11px;
  border-radius: 5px;
  border-width: 0px;
  width: 110px;
  color:white;
  font-size: 14px;
}
/* reports tab */
.reports-card{
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 25px;
  background:  #fdfdfd;
  width: 100%; 
}
.table_{
  border: 1px solid #d8d8d8;
  width: 100%;
}

/* login page and sign up page */
.container-login-page {
  max-width: 350px;
  background: #f8f9fd;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(244, 247, 251) 100%
  );
  border-radius: 40px;
  padding: 25px 35px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(168, 168, 168, 0.878) 0px 30px 30px -20px;
  margin: 20px;
}
.heading-login-page {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: rgb(0, 0, 0);
}
.form-login-page {
  margin-top: 20px;
}
.form-login-page .input {
  width: 100%;
  background: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: rgba(202, 202, 202, 0.878) 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
}
.form-login-page .input::-moz-placeholder {
  color: rgb(170, 170, 170);
}
.form-login-page .input::placeholder {
  color: rgb(170, 170, 170);
}
.form-login-page .input:focus {
  outline: none;
  border-inline: 2px solid #7b7b7b;
}
.login-button {
  display: block;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(
    45deg,
    rgb(26, 26, 26) 0%,
    rgb(84, 84, 84) 100%
  );
  color: white;
  padding-block: 15px;
  margin: 30px auto 10px;
  border-radius: 20px;
  box-shadow: rgba(168, 168, 168, 0.878) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
  text-align: center;
}
.form-login-page .login-button:hover {
  transform: scale(1.03);
  box-shadow: rgb(84, 84, 84, 0.8784313725) 0px 23px 10px -20px;
  text-decoration: none;
}
.form-login-page .login-button:active {
  transform: scale(0.95);
  box-shadow: rgb(84, 84, 84, 0.8784313725) 0px 15px 10px -10px;
}
.sign-up-link {
  font-size: 11px;
  color: #0099ff;
  text-decoration: none;
}
.setting-fonts{
  font-size: 1.7rem;
  font-weight: 700;

}
.select-tag-settings{
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #c5c5c5;
  box-shadow: 20px 20px 60px #c5c5c5,
     -20px -20px 60px #dadada;
  transition: 0.3s;
  width: 50%;
  align-items: center;
  margin-bottom: 8px;
}
.logout-button{
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 8%, rgba(251,78,78,1) 29%, rgba(232,11,11,1) 53%, rgba(245,65,65,1) 71%, rgba(250,16,16,1) 91%);
  font-family: 'Kanit', sans-serif;
  padding: 8px;
  border-radius: 5px;
  border-width: 0px;
  width: 100px;
  color:white;
  position: fixed;
  bottom: 20px; 
  left: 50%; 
  transform: translateX(-50%); 
}
.bottom-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: #000000;
  font-size: 12px;
  font-weight: 400;
}
.bottom-text p{
  margin-bottom: 0;
}
.bottom-text a {
  color: #0173ed;
  text-decoration: none;
  text-align: center;
  transition: color 0.3s ease;
  margin: 0;
}
.bottom-text a:hover {
  color: #3f95f2;
}
.previous-chats{
  width: 100%;
  margin-bottom: 3rem;
}
.chat-container{
  width: 100%; 
  position: fixed;
  bottom: 0;
  padding: 0.5rem;
  background-color: rgb(238, 238, 238);
}
.chat-input{
  width: 70%;
  padding: 0.75rem;
  border-radius: 0.75rem;
  align-items: center;
  margin-bottom: 8px;
}
.send-button{  
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  align-items: center;
  background-color: #333333;
  color: #fff;
}
.query{
  display: flex;
  justify-content: flex-end;
}
.query div{
  padding: 1.3rem 0.75rem;
  background-color: #c7c7c7;
  margin-bottom: 0.5rem;
  border-radius: 1.3rem 0  1.3rem 0.5rem;
  width: 80%;
}

.response div{
  padding: 1.3rem 0.75rem;
  background-color: #616161;
  color: #fff;
  margin-bottom: 0.5rem;
  border-radius: 0 1.3rem 0.5rem 1.3rem;
  width: 80%;
}
.empty-chats{
  height: 550px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-chats{
  padding-bottom: 3rem;
}
.form-input{
  width: 100%;
  background: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: rgba(202, 202, 202, 0.878) 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
}
.form-container{
  width: 80%;
}
.form-label{
  margin: 0 5px;
}
.btn-container{
  padding: 0 20%;
}